html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.footer-container {
  width: 100%;
}

.footer {
  background: $main-bg-color;
  flex-shrink: 0;
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 22px;
  text-align: center;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.footer-title {
  font-size: $fontsize-2;
  color: $main-font-color;
  padding: 30px 0;
  font-weight: 500;
}
