<header class="header-container header">
  <div class="header-wrapper">
    <div class="header-titlebox">
      <div class="header-titlebox__img"></div>
      <h1 class="header-titlebox__title"><a class="header-titlebox__title__link" href="#">Filmoteka</a></h1>
    </div>
    <ul class="header-list">
      <li class="header-list__item home">home</li>
      <li class="header-list__item my-lib">my library</li>
    </ul>
  </div>
</header>