.header-container {
  width: 100%;
}

.header {
  background: $main-bg-color;
  color: $main-font-color;
}

.header-wrapper {
  min-height: 60px;
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin: auto;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1024px) {
    width: 1024px;
  }
}

.header-titlebox {
  display: flex;
  align-items: center;

  &__img {
    width: 24px;
    height: 20px;
    background: url(../components/movieHeader/img/logo.png) no-repeat left center;
  }

  &__title {
    display: none;
    font-size: $fontsize-3;
    font-family: $main-font;
    font-weight: 500;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.header-list {
  text-transform: uppercase;
  font-size: $fontsize-1;
  font-weight: 500;
  font-family: $main-font;
  display: flex;
  list-style: none;
}

.header-list__item {
  text-decoration: none;
  margin-top: 6px;
  padding: 0 20px;
  cursor: pointer;
  height: 24px;
  opacity: 0.7;

  &:hover {
    border-bottom: solid $main-font-color 2px;
    opacity: 1;
  }

  &--active {
    border-bottom: solid $main-font-color 2px;
    opacity: 1;
  }
}