@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url(../fonts/MyriadPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url(../fonts/DroidSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
