$main-bg-color: #77c1bb;
$second-bg-color: #ffffff;
$movieItem-descriptionLine-color: #addad6;

$main-font-color: #372c48;
$pagination-font-color: #556270;
$pagination-btn-color: #f6f6f6;

$main-font: 'Roboto', sans-serif;
$second-font: 'MyriadPro', sans-serif;
$additional-font: 'DroidSans', sans-serif;

$fontsize-1: 14px;
$fontsize-2: 16px;
$fontsize-3: 20px;
$fontsize-4: 30px;
