.back-to-top {
  position: fixed;
  bottom: 14px;
  right: 14px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 50px;
  height: 50px;
  background-color: $main-bg-color;
  line-height: 30px;
  border-radius: 50%;

  &__link {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: url(../components/buttonUp/up.png) no-repeat center;
  }
}

.back-to-top:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
}

.back-to-top-show {
  display: block;
}