<div class="section_pagination">
  <div class="pagination_container">
    <button class="pagination_box--style pagination_btn--prev pagination_btn--opacity"
      data-action="btn_prev">Prev</button>
    <span class="pagination_box--style pagination_page" data-info="page_number">{{page}}</span>
    <button class="pagination_box--style pagination_btn--next" data-action="btn_next">Next</button>
  </div>
</div>