<div class="libraryPage__container">
    <ul class="libraryPage__buttons">
        <li>
            <button type="button" name="watched" id="js-btnWatched"
                class="libraryPage__button">Watched</button>
        </li>
        <li>
            <button type="button" name="queue" id="js-btnQueue"
                class="libraryPage__button">Queue</button>
        </li>
    </ul>
</div>
<div class="libraryPage__list-container" id="js-list-container"></div>